# @see https://turbo.build/repo/docs/handbook/tools/prisma#2-add-a-new-database-package reccomended from turbo repo for prisma to work properly
public-hoist-pattern[]=*prisma*
# @see https://github.com/vercel/turbo/issues/5571#issuecomment-1685807865
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*eslint-plugin-*
public-hoist-pattern[]=*prettier-plugin-*
public-hoist-pattern[]=@typescript-eslint/eslint-plugin
public-hoist-pattern[]=*@nextui-org/*